<app-painel></app-painel>
<div class="header">
  <img src="./assets/me.jpeg" alt="Foto de perfil" class="profile-photo">
  <h1>Julia Alves Sabino</h1>
  <h3 style="font-size: 20px;">Develop Full Stack</h3>
  <br>
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="./assets/angular-logo.png">
        <p>Angular</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/react-logo.png">
        <p>React</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/node-logo.png">
        <p>Node.js</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/javaee-logo.png">
        <p>Java EE</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/quarkus-logo.png">
        <p>Quarkus</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/keycloak-logo.png">
        <p>KeyCloak</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/github-logo.png">
        <p>GitHub</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/gitlab-logo.png">
        <p>GitLab</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/postgres-logo.png">
        <p>Postgres</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/mysql-logo.png">
        <p>MySQL</p>
      </div>
      <div class="carousel-item">
        <img src="./assets/python-logo.png">
        <p>Python</p>
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <a href="https://github.com/juliaAl18" target="_blank" class="btn">GitHub</a>
    <a href="/sobre-mim" class="btn">Sobre Mim</a>
    <a href="/projetos" class="btn">Projetos</a>
  </div>
</div>
<app-roda-pe></app-roda-pe>