<app-painel></app-painel>

<div class="container">
    <div class="header">
        <h1 class="fade-in-text">Julia Alves Sabino</h1>
        <h3 class="fade-in-text">Develop Full Stack</h3>
    </div>

    <div class="content">
        <p class="fade-in-text">
            Olá! Sou Julia Alves Sabino, uma Desenvolvedora Full Stack apaixonada por tecnologia e inovação. Com vasta
            experiência em múltiplas tecnologias e metodologias ágeis, estou constantemente em busca de novos
            conhecimentos e tendências de mercado. Minha paixão pela área me motiva a criar soluções de alta qualidade e
            a contribuir de maneira significativa para o sucesso dos projetos em que atuo. Sempre comprometida com a
            excelência, busco transformar desafios em oportunidades de crescimento e aprendizado contínuo.
        </p>
    </div>

    <div class="education-timeline">
        <h2 class="fade-in-text">Educação <mat-icon>school</mat-icon></h2>
        <div class="timeline">
            <div class="timeline-item fade-in-text">
                <div class="timeline-dot"></div>
                <div class="timeline-date">2023 - NOW</div>
                <div class="timeline-content">
                    <h3>Faculdade Uniprojeção</h3>
                    <p>Análise e Desenvolvimento de Sistemas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-timeline">
        <h2 class="fade-in-text">Experiência <mat-icon>work</mat-icon></h2>
        <div class="experience">
            <div class="experience-item fade-in-text">
                <div class="experience-dot"></div>
                <div class="experience-date">2023 - NOW</div>
                <div class="experience-content">
                    <h3>Grupo ICTS</h3>
                    <p>Estágiaria</p>
                    <ul>
                        <li>Criação e manutenção de interfaces web dinâmicas e responsivas, utilizando Angular e React.
                        </li>
                        <li>Implementação e gestão de soluções de autenticação e autorização utilizando Keycloak,
                            garantindo a segurança e a integridade dos sistemas.</li>
                        <li>Desenvolvimento Back-end usando Quarkus, Java e Node.js.</li>
                        <li>Utilização de Banco de dados PostgreSQL. </li>
                        <li>Aplicação de metodologias ágeis, como Scrum, para gerenciar projetos e equipes de
                            desenvolvimento.</li>
                        <li>Criação e gerenciamento de contêineres Docker para ambientes de desenvolvimento e produção.
                        </li>
                        <li> Utilização de GitLab para controle de versão, integração contínua e entrega contínua.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-roda-pe></app-roda-pe>